1)

*  ---> mathematcal expression
"hello" --->  string
-87.8 --->  integer
-  --->  mathematcal expression
/  --->  mathematcal expression
+  ---> mathematcal expression  
6 ---> integer

2)
A Variable is a store of information  and a String is a type of information you would store in a Variable

3)

Data Types:
1. Integer - Whole numbers - 7, 12, 999
2. loat (floating point) - Number with a decimal point - 3.15, 9.06, 00.13
3. Boolean - Representing logical values - TRUE, FALSE

4)
An expression is a construct made up of variables, operators, and method invocations, 
which are constructed according to the syntax of the language, 
that evaluates to a single value.

5)

Statements represent an action or command e.g print statements,
assignment statements. Expression is a combination of variables, 
operations and values that yields a result value.

In [10]:
#6

Bacon = 22
Bacon + 1

23

In [11]:
#7
'spam' + 'spamspam'

'spamspamspam'

In [4]:
'spam'*3

'spamspamspam'

8)

Why is eggs a valid variable name while 100 is invalid? Variable names cannot begin with a number.

9)

The int() , float() , and str( ) functions will evaluate to the integer,
floating-point number, and string versions of the value passed to them.

In [ ]:
#10

"I have eaten " + 99 + 'burritos'
# this expression giving an error because we can't concatinate integer and string,. 
#The concatinate function only works on two sequences of the same type, i.e. two strings or two integer